<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WeatherBridgeDataArchive.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<WeatherBridgeDataArchive.My.MySettings>
			<setting name="MustUpgrade" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="MainFormLocation" serializeAs="String">
				<value>200, 200</value>
			</setting>
			<setting name="TimesRun" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="UdHr" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="UdTdy" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="UdYst" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="UdMo" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="UdYr" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="wbLogin" serializeAs="String">
				<value />
			</setting>
			<setting name="wbPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="wbIp" serializeAs="String">
				<value />
			</setting>
			<setting name="ApiKey" serializeAs="String">
				<value />
			</setting>
			<setting name="AppKey" serializeAs="String">
				<value />
			</setting>
			<setting name="ArcUpDateInt" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="RecUpDateInt" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="AmbientStationName" serializeAs="String">
				<value />
			</setting>
			<setting name="EnableAmbient" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AmbientUpdateInt" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WbUpdateInt" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="YearStarted" serializeAs="String">
				<value />
			</setting>
			<setting name="LogHdrData" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EnableWb" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ElevationFt" serializeAs="String">
				<value>0</value>
			</setting>
		</WeatherBridgeDataArchive.My.MySettings>
	</userSettings>
</configuration>